body {
  background-color:yellow;
}

.center {
  text-align: center;
}

h1 {
  color: aqua;
  font-size: 10rem;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

p {
  text-align: center;
}

.table {
  margin: 0 auto;
}
