body {
  background-color:yellow;
  margin: 0;
}

.center {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 15rem; /* 下部に固定 */
  
}

header {
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%;
  background-color: white;
}


.title {
  color: aqua;
  font-size: 10rem;
  text-align: center;
  margin: 0;
      padding: 20px; 
 
}

p {
  text-align: center;
}

.table {
  margin: 0 auto;
}



footer {
  position: fixed;
  bottom: 0; 
  left: 0; 
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px; 
  text-align: center;
}
